@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Karla:wght@400;500;700&family=Poppins:wght@300;600&display=swap');

#root {
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Karla', sans-serif; 
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar {
  background-color: #FFFFFF;
  padding: 2rem;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.navbar > img {
  margin: 1rem;
}
.hero{
  display: flex;
  flex-direction: column;
}
.hero-img {
  width: 60rem;
  margin-inline: auto;
}
.hero > h1 {
  margin-top: 4rem;
  color: #000000;
  font-size: 5rem;
  
}
.hero > p {
  color: #222222;
  padding-right: 25rem;
  margin-top: 2rem;
}
main {
  background-color: #E5E5E5;
  padding: 5rem;
}
.thumbnail {
  position: relative;
  border-radius: 2rem;
  margin-top: 5rem;
  color:#000000;
}
.coverImg {
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  height: 30rem;
}
.details{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.details > p{
  font-size: 1.5rem;
}
.rating {
  display: flex;
  gap: .2rem;
}

.badge {
  position: absolute;
  background-color: #E5E5E5;
  color: #222222;
  top: 3%;
  left: 5%;
  text-align: center;
  padding: .3rem;
  font-weight: 600;
  font-size: 1.4rem;
}
.price > span{
  font-weight: 600;
}

.slide {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
} */

/* .navbar{
  background: linear-gradient(to right, #672280,  #A626D3);
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;

}
.logo{
  display: flex;
  gap: .5rem;
}
.navbar > h3{
  font-size: 1.4rem;
}
main{
  background-color: #FFFFFF;
  padding-inline: 4rem;
  padding-block: 6rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  min-height: 100vh;
}
label {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
section {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
input{
  background-color: #FFFFFF;
  border: .1rem solid #D5D4D8;
  border-radius: .8rem;
  padding: 1rem;
  color: #0D0D0D;
  outline: none;
  width: 100%;
}

button {
  padding: 1rem;
  background: linear-gradient(to right, #672280,  #A626D3);
  border: 0;
  border-radius: .6rem;
  cursor: pointer;
} */


body {
  background-color: #0b2434;
  padding: 20px;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  text-align: center;
  display: grid;
  place-content: center;
}

main {
  height:50rem;
  max-width: 800px;
  width: 50rem;
  background-color: #F5F5F5;
  padding: 1rem;
  margin-inline: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-size: 4rem;
  margin: 0;
  color: #2B283A;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  color: #4A4E74;
  padding-inline: 6rem;
}

.die-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 2rem;
  margin-bottom: 4rem;
}

.die-face {
  grid-row: span 1;
  border-radius: 1rem;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #2B283A;
  box-shadow: 0px 3.57447px 3.57447px rgba(0, 0, 0, 0.1);
}

.die-num {
  font-size: 2em;
  font-weight: lighter;
}

.roll-dice {
  height: 5rem;
  width: 10rem;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.18);
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.roll-dice:focus {
  outline: none;
}
